<div class=container>
  <h1>Election Management Panel</h1>
  <div class="col-12">
    <p>Use this page to manage elections.</p>
    <p><strong>You are signed in as: </strong><em>{{user.DisplayName}}</p>
  </div>
  <div class="row">
    <form class="electionAdminContainer" ng-submit="addLink()">
      <h2>Candidates in {{election.ElectionName}}</h2>
        <div class="row electionAdminHeaderRow">
          <div class="col-5"><h4>Candidate</h4></div>
          <div class="col-5"><h4>Party</h4></div>
          <div class="col-2"><h4 class="right">Remove</div><h4>
        </div>
        <div class="row electionAdminRow" ng-repeat="link in links" ng-style="{'border-left': '10px solid '+link.PartyColor, 'background-color': link.PartyColor}">
          <div class="col-5 whiteOut">{{link.CandidateName}}</div>
          <div class="col-5 whiteOut">
            {{link.PartyName}}
            <img class="partyLogo logo-right" ng-src="{{link.PathToLogo}}">
          </div>
          <div class="col-2 whiteOut"><button class="btn btn-outline-danger btn-block" type="button" ng-click="deleteLink(link.LinkID,$index)">Delete</button></div>
        </div>
        <div class="row electionAdminRow">
          <div class="col-5"><select ng-model="newCandidate" ng-options="x.CandidateName for x in candidates"></select></div>
          <div class="col-5"><select ng-model="newParty" ng-options="x.PartyName for x in parties"></select></div>
          <div class="col-2"><button class="btn btn-primary btn-block" type="submit">Add</button></div>
        </div>
    </form>
  </div>
</div>
