<div class="explanation_box">
  <h2 class="voteHeader">Alternative Vote</h2>
  <p>With the Alternative Vote (AV) your constituency gets an MP the majority support.</p>

  <p>The Alternative Vote is not a form of proportional representation.</p>

  <p>In certain conditions, such as the 2015 General Election, it would have produced a less proportional result than First Past the Post. The British public voted to not replace Westminster’s voting system with the Alternative Vote in 2011.</p>

  <p>In the United States, the Alternative Vote is often called Instant Runoff Voting (IRV). The state of Maine voted to use AV in its elections in 2016.</p>

  <p>It is also used in Australia to elect its House of Representatives and in Australia’s states to elect at least one House of their state parliaments. It is also used to elect the President of Ireland.</p>

  <h3>How to vote</h3>
  <p>Put a number by each candidate, with a one for your favourite, 2 for your second favourite and so on. You can put numbers on as many or as few as you wish.</p>

  <h3>How it is counted</h3>
  <p>If more than half the voters have the same favourite candidate, that person becomes the MP. If nobody gets half, the numbers provide instructions for what happens next.</p>

  <p>The counters remove whoever came last and look at the ballot papers with that candidate as their favourite. Rather than throwing away these votes, they move each one to the voter’s second favourite candidate. This process repeated until one candidate has half of the votes and becomes the MP.</p>
  <div class="explanation_source">Explanation sourced from the <a target="_blank" href="https://www.electoral-reform.org.uk/voting-systems/types-of-voting-system">Electoral Reform Society</a></div>
</div>
<form>
  <table class="candidateList vote">
    <tr ng-repeat="candidate in election.candidates" ng-click="setChoice(candidate)" ng-class="isChosen(candidate) ? 'candidateSelected' : ''">
      <td>{{candidate.CandidateName}}</td>
      <td>{{candidate.PartyName}}</td>
      <td><img class="partyLogo" ng-src="{{candidate.PathToLogo}}"></img></td>
      <td>
        <div class="ballot_box">
          <div ng-show="isChosen(candidate)" class="ballot_number">{{positionOf(candidate)}}</div>
        </div>
      </td>
    </tr>
    <tr class="nextButton">
      <td colspan="4">
        <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
          <div ng-click="voteViewGoTo(0)" class="nextButton">
            Go<div class="rightIcon"><i class="fas fa-angle-right fa-lg"></i></div>
          </div>
        </a>
      </td>
    </tr>
  </table>
</form>
