<div class="explanation_box">
  <h2 class="voteHeader">First Past the Post</h2>
  <p>First Past the Post is the name for the electoral system used to elect MPs to Westminster.</p>

  <p>Former British colonies tend to use the same voting system as Westminster. Many, including Australia, New Zealand, Ireland, Cyprus, Malta and South Africa have since stopped. But the US, Canada, India, and many Caribbean and African states still do.</p>

  <h3>How to vote</h3>
  <p>On election day, voters receive a ballot paper with a list of candidates. As only one MP will represent the area, each party only stands one candidate to chose from.</p>

  <p>Voters usually put a cross next to their favourite candidate. But if they think their favourite has a low chance of winning, they may put a cross next to one they like the most with a better chance of winning.</p>

  <h3>Counting the votes</h3>
  <p>During a General Election, 650 constituencies across the country each hold separate contests. To become an MP, a candidate needs the largest number of votes in their area. This means every MP has a different level of local support.</p>
  <div class="explanation_source">Explanation sourced from the <a target="_blank" href="https://www.electoral-reform.org.uk/voting-systems/types-of-voting-system">Electoral Reform Society</a></div>
</div>
<form>
  <table class="candidateList vote">
    <tr ng-repeat="candidate in election.candidates" ng-click="setChoice(candidate.CandidateID)" ng-class="fptpChoice.CandidateID == candidate.CandidateID ? 'candidateSelected' : ''">
      <td>{{candidate.CandidateName}}</td>
      <td>{{candidate.PartyName}}</td>
      <td><img class="partyLogo" ng-src="{{candidate.PathToLogo}}"></img></td>
      <td>
        <div class="ballot_box">
          <div ng-show="fptpChoice.CandidateID == candidate.CandidateID" class="ballot_cross">✘</div>
        </div>
      </td>
    </tr>
    <tr class="nextButton">
      <td colspan="4">
        <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
          <div ng-click="voteViewGoTo(0)" class="nextButton">
            Go<div class="rightIcon"><i class="fas fa-angle-right fa-lg"></i></div>
          </div>
        </a>
      </td>
    </tr>
  </table>
</form>
