<div class="explanation_box">
  <h2 class="voteHeader">Party List Proportional Representation</h2>
  <p>In Party List systems, seats in parliament closely match how many votes each party receives, but there is often a weaker constituency link.</p>
  Party Lists are the most popular way to elect representatives in the world, with more than 80 countries using a variation of this system to elect their parliament.

  <h3>How to vote</h3>
  <p>Rather than electing one person per area, in Party List systems each area is bigger and elects a group of MPs that closely reflect the way the area voted. At the moment we have 650 constituencies, each electing 1 MP; under a Party List system we might have 26 constituencies each electing 25 MPs.</p>
  <p>Votes for a candidate make that candidate more likely to be in the party’s group of MPs that get elected. A vote for a candidate is also counted as a vote for their party when it is decided how many seats each party should receive. This means it is possible for a vote for a candidate to help a candidate a voter dislikes, if that candidate is popular with the supporters of the rest of their party.</p>
  <div class="explanation_source">Explanation sourced from the <a target="_blank" href="https://www.electoral-reform.org.uk/voting-systems/types-of-voting-system">Electoral Reform Society</a></div>
</div>
<form>
  <table class="candidateList vote">
    <tr ng-repeat="candidate in election.candidates" ng-click="setChoice(candidate.CandidateID)" ng-class="prChoice.CandidateID == candidate.CandidateID ? 'candidateSelected' : ''">
      <td>{{candidate.CandidateName}}</td>
      <td>{{candidate.PartyName}}</td>
      <td><img class="partyLogo" ng-src="{{candidate.PathToLogo}}"></img></td>
      <td>
        <div class="ballot_box">
          <div ng-show="prChoice.CandidateID == candidate.CandidateID" class="ballot_cross">✘</div>
        </div>
      </td>
    </tr>
    <tr class="nextButton">
      <td colspan="4">
        <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
          <div ng-click="voteViewGoTo(0)" class="nextButton">
            Go<div class="rightIcon"><i class="fas fa-angle-right fa-lg"></i></div>
          </div>
        </a>
      </td>
    </tr>
  </table>
</form>
