<div class="explanation_box">
  <h3 class="voteHeader">Proportional Representation</h1>
  Proportional Representation is
</div>
<form>
  <table class="candidateList vote">
    <tr ng-repeat="candidate in election.candidates" ng-click="setChoice(candidate.CandidateID)" ng-class="prChoice.CandidateID == candidate.CandidateID ? 'candidateSelected' : ''">
      <td>{{candidate.CandidateName}}</td>
      <td>{{candidate.PartyName}}</td>
      <td><img class="partyLogo" ng-src="{{candidate.PathToLogo}}"></img></td>
      <td>
        <div class="ballot_box">
          <div ng-show="prChoice.CandidateID == candidate.CandidateID" class="ballot_cross">✘</div>
        </div>
      </td>
    </tr>
    <tr class="nextButton">
      <td colspan="4">
        <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
          <div ng-click="voteViewGoTo(0)" class="nextButton">
            Go<div class="rightIcon"><i class="fas fa-angle-right fa-lg"></i></div>
          </div>
        </a>
      </td>
    </tr>
  </table>
  <!--<p ng-hide="prChoice.CandidateName == 0">Your choice: {{prChoice.CandidateName}} ({{prChoice.PartyName}})</p>-->
</form>
<!--<div class="row">
  <div ng-click="voteViewGoTo(currentPage+1)" class="nextButton">
    <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
      <div style="width:100%">
        Go<i class="fas fa-angle-right fa-pull-right"></i>
      </div>
    </a>
  </div>
</div>-->
