<div class="explanation_box">
  <h2 class="voteHeader">Single Transferable Vote</h2>
  <p>With the Single Transferable Vote, you get a Parliament where the strength of the parties matches the strength of their support in the country, and MPs have a strong local link.</p>

  <p>The Single Transferable Vote (STV) is a British form of proportional representation. Northern Ireland, the Republic of Ireland, Malta, Scotland and Australia use this system for some or all their elections.</p>
  <h3>How to vote</h3>
  <p>Rather than one MP representing everyone in a small area, bigger areas elect a small team of MPs. These MPs reflect the diversity of opinions in the area.</p>

  <p>On election day, voters number a list of candidates. Their favourite as number one, their second favourite number two, and so on. Voters can put numbers next to as many or as few candidates as they like. Parties will often stand more than one candidate in each area.</p>

  <p>The numbers tell the people counting to move your vote if your favourite candidate has enough votes already or stands no chance of winning.</p>

  <h3>How it’s counted</h3>
  <p>To get elected, a candidate needs a set amount of votes, known as the quota. The people counting the votes work out the quota based on the number of vacancies and the number of votes cast.</p>

  <p>Each voter has one vote. Once the counting has finished, any candidate who has more number ones than the quota wins a seat. But, rather than ignore extra votes a candidate got after the amount they need to win, these votes move to each voter’s second favourite candidate.</p>

  <p>If no one reaches the quota, then the people counting the vote remove the least popular candidate. People who voted for them have their votes moved to their second favourite candidate. This process continues until every seat has an MP.</p>
  <div class="explanation_source">Explanation sourced from the <a target="_blank" href="https://www.electoral-reform.org.uk/voting-systems/types-of-voting-system">Electoral Reform Society</a></div>
</div>
<form>
  <table class="candidateList vote">
    <tr ng-repeat="candidate in election.candidates" ng-click="setChoice(candidate)" ng-class="isChosen(candidate) ? 'candidateSelected' : ''">
      <td>{{candidate.CandidateName}}</td>
      <td>{{candidate.PartyName}}</td>
      <td><img class="partyLogo" ng-src="{{candidate.PathToLogo}}"></img></td>
      <td>
        <div class="ballot_box">
          <div ng-show="isChosen(candidate)" class="ballot_number">{{positionOf(candidate)}}</div>
        </div>
      </td>
    </tr>
    <tr class="nextButton">
      <td colspan="4">
        <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
          <div ng-click="voteViewGoTo(0)" class="nextButton">
            Go<div class="rightIcon"><i class="fas fa-angle-right fa-lg"></i></div>
          </div>
        </a>
      </td>
    </tr>
  </table>
  <!--<p ng-hide="stvChoices.length == 0">Your choices:</p>
  <ol ng-hide="stvChoices.length == 0">
    <li ng-repeat="candidate in stvChoices">{{candidate.CandidateName}} ({{candidate.PartyName}})</li>
  </ol>-->
</form>
<!--<div class="row">
  <div ng-click="voteViewGoTo(currentPage+1)" class="nextButton">
    <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
      <div style="width:100%">
        Go<i class="fas fa-angle-right fa-pull-right"></i>
      </div>
    </a>
  </div>
</div>-->
