<div class="explanation_box">
  <h2 class="voteHeader">Supplementary Vote</h2>
  <p>With the Supplementary Vote, candidates have to campaign to get a broader base of support.</p>

  <p>The Supplementary Vote (SV) is used for electing Mayors and Police and Crime Commissioners in the UK.</p>

  <p>It part of a broad group of ‘preferential’ voting systems, which include the Alternative Vote used in Australia and the Contingent Vote used to elect the Sri Lankan President.</p>

  <h3>How to vote</h3>
  <p>There are two columns of boxes alongside the candidates’ names on the ballot paper. One column of boxes is for you to mark your favourite candidate with an X and one is for you to mark a second favourite with an X. You don’t have to mark a second favourite if you do not have one. You can put a X in both boxes for one candidate but this is effectively the same as just marking your favourite and no additional benefit comes from this.</p>

  <h3>How is it counted</h3>
  <p>All the votes for favourite candidates are counted and if one candidate gets over 50% they are elected.</p>

  <p>If no candidate gets over 50%, the top two candidates continue to a run-off round and all other candidates are eliminated. The votes of everyone whose favourite candidate has been eliminated are moved to their second favourite.</p>

  <p>Votes from people who had their favourite candidate eliminated and their second favourite candidate is in the run-off, are added to their first-round totals for the two run-off candidates. The candidate with the most votes at this stage is declared the winner.</p>
  <div class="explanation_source">Explanation sourced from the <a target="_blank" href="https://www.electoral-reform.org.uk/voting-systems/types-of-voting-system">Electoral Reform Society</a></div>
</div>
<form>
  <table class="candidateList vote">
    <tr class="header">
      <th></th>
      <th></th>
      <th></th>
      <th>First Choice</th>
      <th>Second Choice</th>
    </tr>
    <tr ng-repeat="candidate in election.candidates" ng-class="isChosen(candidate) ? 'candidateSelected' : ''">
      <td>{{candidate.CandidateName}}</td>
      <td>{{candidate.PartyName}}</td>
      <td><img class="partyLogo" ng-src="{{candidate.PathToLogo}}"></img></td>
      <td ng-click="setChoice(0,candidate.CandidateID)">
        <div class="ballot_box">
          <div ng-show="svChoices[0].CandidateID == candidate.CandidateID" class="ballot_cross">✘</div>
        </div>
      </td>
      <td ng-click="setChoice(1,candidate.CandidateID)">
        <div class="ballot_box">
          <div ng-show="svChoices[1].CandidateID == candidate.CandidateID" class="ballot_cross">✘</div>
        </div>
      </td>
    </tr>
    <tr class="nextButton">
      <td colspan="5">
        <a ng-href="/vote/{{nextPage.SystemShortName}}" style="text-decorations:none; color:inherit;">
          <div ng-click="voteViewGoTo(0)" class="nextButton">
            Go<div class="rightIcon"><i class="fas fa-angle-right fa-lg"></i></div>
          </div>
        </a>
      </td>
    </tr>
  </table>
</form>
