<h3>Thank you</h3>

<p>The following were your votes:</p>

<table>
  <tr ng-show="isUsed('fptp')">
    <td>FPTP:</td>
    <td>{{fptpChoice.CandidateName || "None"}}</td>
  </tr>
  <tr ng-show="isUsed('av')">
    <td>AV:</td>
    <td>
      <ol><li ng-repeat="avChoice in avChoices">{{avChoice.CandidateName}}</li></ol><span ng-hide="stvChoices">None</span>
    </td>
  </tr>
  <tr ng-show="isUsed('stv')"><td>STV:</td>
    <td>
      <ol><li ng-repeat="stvChoice in stvChoices">{{stvChoice.CandidateName}}</li></ol><span ng-hide="stvChoices">None</span>
    </td>
  </tr>
  <tr ng-show="isUsed('pr')">
    <td>PR:</td>
    <td>{{prChoice.CandidateName || "None"}}</td>
  </tr>
  <tr ng-show="isUsed('sv')">
    <td>SV:</td>
    <td>
      <ol><li ng-repeat="svChoice in svChoices">{{svChoice.CandidateName}}</li></ol><span ng-hide="stvChoices">None</span>
    </td>
  </tr>
</table>
