<div class=container>

  <h1>Group Management Panel</h1>
  <p>Use this page to manage system usergroups.</p>
  <p><strong>You are signed in as: </strong><em>{{user.DisplayName}}</p>
  <select ng-model="typeFilter" ng-options="x.GroupTypeName for x in groupTypes">
    <option value="">Show All</option>
  </select>
  <form>
    <table>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Type</th>
      </tr>
      <tr ng-repeat="group in groups">
        <td>{{group.GroupID}}</td>
        <td>{{group.GroupName}}</td>
        <td>{{group.GroupTypeName}}</td>
      </tr>
      <tr>
        <td>New Group:</td>
        <td><input ng-model="newGroupName"></td>
        <td>
          <select ng-model="newGroupType" ng-options="x.GroupTypeName for x in groupTypes">
          </select>
        </td>
      </tr>
    </table>
  </form>

</div>
