<div class="topBar">
  <div class="container">
    <div class="row">
      <div class="userSignInBar col-4"><strong>You are signed in as: </strong><em>{{currentUser.DisplayName}}</em></div>
      <div class="navBox col-8">
        <div class="navButton" ng-click="navBar('vote')">
          Vote
        </div>
        <div class="navButton" ng-click="navBar('results')">
          Results
        </div>
        <div class="navButton" ng-show="showAdmin" ng-click="navBar('electionAdmin')">
          Election Admin
        </div>
        <div class="navButton" ng-show="showAdmin" ng-click="navBar('candidateAdmin')">
          Candidate Admin
        </div>
        <div class="navButton" ng-show="showAdmin" ng-click="navBar('userAdmin')">
          User Admin
        </div>
        <div class="navButton" ng-show="showAdmin" ng-click="navBar('groupAdmin')">
          Group Admin
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="electionSelector" ng-hide="isGoing"><form>
    <select class="election-choice-box" ng-model="selectedElection" ng-change="setElection()" ng-options="election.ElectionName for election in elections"></select>
  </form></h1>
  <h1 ng-show="isGoing"><em>{{election.ElectionName}}</em></h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 containerWing"></div>
      <div class="col-lg-8" ui-view="voteContainer" id="voteContainer"></div>
      <div class="col-lg-2 containerWing"></div>
    </div>
  </div>
</div>
