<div id="topBar">
  <div class=container>
    <p id="userSignInBar"><strong>You are signed in as: </strong><em>{{currentUser.DisplayName}}</em></p>
  </div>
</div>
<div class=container>

  <!--<h1>Yo Yo Yo, gangsta man</h1>
  <p>My vocal chords is my gun</p>-->

  <h1 class="electionSelector" ng-hide="isGoing"><form>
    <select class="election-choice-box" ng-model="selectedElection" ng-change="setElection()" ng-options="election.ElectionName for election in elections"></select>
  </form></h1>
  <h1 ng-show="isGoing"><em>{{election.ElectionName}}</em></h1>
  <div class="container">
    <div class="row">
      <div class="col-lg-2 containerWing"></div>
      <div class="col-lg-8" ui-view="voteContainer" id="voteContainer"></div>
      <div class="col-lg-2 containerWing"></div>
    </div>
  </div>
</div>
