@font-face {
    font-family: marker;
    src: url(/fonts/marker.ttf);
}

/* TEAL:
#topBar {
    background-color: #00897b;
}
h2, h3, h4 {
  color: #00897b;
}
*/

.admin td {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin td.right {
  max-width: 250px;
}
input.admin {
  width: 100%;
}
button.right {
  width: 100%;
  max-width: 250px;
}
.narrow {
  max-width: 30px;
  width: 30px
}
input.checkbox.admin {
  width: 13px
}
h1 {
  text-align: center;
}
/*.containerWing {
  min-height: 20px;
  background-color: red;
}*/
.partyLogo {
  max-height: 100px;
  max-width: 100px;
  width: 100px;
  height: 100px;
}
.candidateList td, .candidateList tr {
  padding: 20px;
}
table.candidateList {
  margin: 1em auto;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
tr.header th {
  text-align: center;
}
.explanation_box {
  background-color: #fafafa;
  margin: 10px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #ccc
}
.explanation_source {
  opacity: 0.5;
  text-align: right;
  font-style: italic;
}
.voteHeader {
  padding-bottom: 15px
}
#topBar {
  width: 100%;
  background-color: #eee;
}
#userSignInBar {
  padding: 10px
}
.candidateList tr {
  background-color: #fafafa;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #ccc;
  overflow: hidden;
}
.candidateList.vote tr.candidateSelected {
  background-color: #eee;
}
.candidateList.vote tr:hover, .candidateList.vote tr.candidateSelected:hover, div.nextButton:hover {
  background-color: #e4e4e4;
}
.candidateList tr.header, .candidateList tr.nextButton, .candidateList tr.nextButton:hover {
  background-color: white;
  border-radius: 0px;
  box-shadow: 0px 0px 0px
}
div.nextButton {
  margin: auto;
  padding: 10px;
  width: 130px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0px 0px 4px #ccc
}
.ballot_box {
  background-color: white;
  margin: 10px;
  padding: 10px;
  height: 90px;
  width: 90px;
  border: solid 5px black;
}
.ballot_cross {
  font-size: 70px;
  margin-top: -30px;
  position: absolute;
  align-self: center;
}
.ballot_number {
  width: 70px;
  font-size: 70px;
  font-family: marker;
  margin-top: -20px;
  position: absolute;
  text-align: center;
}
div.rightIcon {
  width: 20px;
  float: right;
}
