.admin td {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.admin td.right {
  max-width: 250px;
}
input {
  width: 100%;
}
button.right {
  width: 100%;
  max-width: 250px;
}
.narrow {
  max-width: 30px;
  width: 30px
}
input.checkbox {
  width: 13px
}
h2 {
  text-align: center;
}
/*.containerWing {
  min-height: 20px;
  background-color: red;
}*/
.partyLogo {
  max-height: 100px;
  max-width: 100px;
  width: 100px;
  height: 100px;
}
.candidateList td, .candidateList tr {
  padding: 20px;
}
.nextButton {
  margin: auto;
  width: 100px;
  align-items:
}
.fa.pull-right,
.fa.fa-pull-right,
[class*=" fa-"].pull-right,
[class*=" fa-"].fa-pull-right {
  line-height: inherit;
}
i {
    margin-left: 10px;
    font-size: 30px;
    height: 30px;
    vertical-align: middle;
}
